<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:insert="~{fragments/inclideStyle}" />
	<script th:src="@{/public/theme/jquery/jquery.min.js}"></script>
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="~{fragments/menuLayout}" />
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Resultados Cita</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card">
					<div class="card-body">

						<div class="callout callout-info">
							<h5><i class="fas fa-info"></i> Nota:</h5>
							En el siguiente apartado encontrara todos los datos relacionados con la cita médica una vez
							se ha atendido por el médico .
						</div>

						<div class="invoice p-3 mb-3">
							<div class="row">
								<div class="col-12">
									<h4>
										<i class="fas fa-globe"></i> Admin salud S.A.S.
										<small class="float-right"
											th:text="${T(edu.poli.citas.citasMedicas.Utilidad).fecha()}">Date:
											2/10/2014</small>
									</h4>
								</div>
							</div>

							<!-- Datos pacinete -->
							<div class="row invoice-info">
								<div class="col-sm-4 invoice-col">
									Paciente
									<address>
										<strong
											th:text="${cita.paciente.nombre} + ' ' +${cita.paciente.apellido}">Nombre
											del pacinete</strong>
										<br>
										<span
											th:text="${cita.paciente.tipoDocumneto} + ' ' + ${cita.paciente.documento} " />
										<br>
									</address>
								</div>

								<!-- Datos doctor -->
								<div class="col-sm-4 invoice-col">
									Doctor
									<address>
										<strong th:text="${cita.doctor.nombre} + ' ' +${cita.doctor.apellido}">Nombre
											doctor</strong><br>
										<span th:text="${doctor.especialidad.descropcion}" /> <br>
									</address>
								</div>

								<!-- Datos centro medico -->
								<div class="col-sm-4 invoice-col">
									<b th:text="'Centro Médico: '+${cita.centroMedico}"></b><br>
								</div>
							</div>

							<h4>Resultado de la cita médica</h4>
							<div class="row">

								<div class="col-5 col-sm-2">
									<div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist"
										aria-orientation="vertical">
										<a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill"
											href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home"
											aria-selected="true">Novedades</a>
										<a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill"
											href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile"
											aria-selected="false">Exámenes</a>
										<a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill"
											href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages"
											aria-selected="false">Medicamentos</a>
									</div>
								</div>
								<div class="col-7 col-sm-10">
									<div class="tab-content" id="vert-tabs-tabContent">
										<div class="tab-pane text-left fade show active" id="vert-tabs-home"
											role="tabpanel" aria-labelledby="vert-tabs-home-tab">
											<strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
											<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing
												elit. Etiam fermentum enim neque.</p>
										</div>
										<div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel"
											aria-labelledby="vert-tabs-profile-tab">
											Mauris tincidunt mi at erat gravida, eget tristique urna bibendum.
											Mauris pharetra purus ut ligula tempor, et vulputate metus
											facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
											posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus
											interdum, nisl ligula placerat mi, quis posuere purus ligula eu
											lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere
											nec nunc. Nunc euismod pellentesque diam.
										</div>
										<div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel"
											aria-labelledby="vert-tabs-messages-tab">
											Morbi turpis dolor, vulputate vitae felis non, tincidunt congue
											mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus
											faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac
											tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum.
											Suspendisse ut velit condimentum, mattis urna a, malesuada nunc.
											Curabitur eleifend facilisis velit finibus tristique. Nam vulputate,
											eros non luctus efficitur, ipsum odio volutpat massa, sit amet
											sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida
											fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel
											metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare
											magna.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="btn-group float-right">
								<button type="button" class="btn btn-primary">Agregar Indicaciones paciente</button>
								<button type="button"
									class="btn btn-primary dropdown-toggle dropdown-hover dropdown-icon"
									data-toggle="dropdown">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu" role="menu">
									<a class="dropdown-item" href="#" data-toggle="modal"
										data-target="#modal-novedad">Noveades</a>
									<a class="dropdown-item" href="#" data-toggle="modal"
										data-target="#modal-examen">Exámenes</a>
									<a class="dropdown-item" href="#" data-toggle="modal"
										data-target="#modal-medicamento">Medicamentos</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Modales -->
	<!-- Novedades -->
	<div class="modal fade" id="modal-novedad">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Agregar Novead</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="centro">Observación</label>
						<textarea class="form-control" rows="3" placeholder="Ingrese la observación del paciente"
							style="height: 83px;"></textarea>
					</div>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Examenes -->
	<div class="modal fade" id="modal-examen">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Agregar Examen</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="centro">Tipo Examen</label>
						<input type="text" class="form-control" id="centro" placeholder="Centro medico">
					</div>
					<div class="form-group">
						<label for="centro">Centro Medico</label>
						<input type="text" class="form-control" id="centro" placeholder="Centro medico">
					</div>
					<div class="form-group">
						<label for="fecha">fecha</label>
						<div class="input-group">
							<input type="text" id="fecha" class="form-control">
							<input type="hidden" id="fecha-send">
							<div id="datePickerBtn" class="input-group-append">
								<span class="input-group-text"><i class="fas fa-calendar"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Examenes -->
	<div class="modal fade" id="modal-medicamento">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Agregar Medicamento</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="centro">Nombre medicamento</label>
						<input type="text" class="form-control" id="centro" placeholder="Centro medico">
					</div>
					<div class="form-group">
						<label for="centro">Cantidad</label>
						<input type="text" class="form-control" id="centro" placeholder="Centro medico">
					</div>
					<div class="form-group">
						<label for="centro">Posologia</label>
						<input type="text" class="form-control" id="centro" placeholder="Centro medico">
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{fragments/includeScript}" />
	<script>
		$(function () {
			$("#fecha").datepicker({
				dateFormat: 'dd/mm/yy',
				onSelect: function (date) {
					$('#fecha-send').val(date);
				}
			});

			$("#datePickerBtn").on("click", function () {
				if ($("#fecha").datepicker("widget").is(":visible")) {
					$("#fecha").datepicker("hide");
				} else {
					$("#fecha").datepicker("show");
				}
			});

			if ($('#fecha-send').val()) {
				$("#fecha").datepicker("setDate", $('#fecha-send').val());
			}
		});
	</script>

</body>

</html>