<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:insert="~{fragments/inclideStyle}" />
	<script th:src="@{/public/theme/jquery/jquery.min.js}"></script>
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="~{fragments/menuLayout}" />
		<input type="hidden" id="idCita" th:value="${cita.id}" />
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Resultados Cita</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card">
					<div class="card-body">

						<div th:if="${novadad != 'NA' || examen != 'NA'  || medicamento != 'NA'}"
							class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h5 style="display: inline;" <i class="icon fas fa-check"> OK!</h5>
							<span th:if="${novadad == 'create'}">Novedad creada correctamente.</span>
							<span th:if="${novadad == 'delete'}">Novedad eliminada correctamente.</span>
							<span th:if="${examen == 'create'}">Examen creado correctamente.</span>
							<span th:if="${examen == 'delete'}">Examen asignado correctamente.</span>
							<span th:if="${medicamento == 'create'}">Medicamento ordenado correctamente.</span>
							<span th:if="${medicamento == 'delete'}">Medicamento eliminado correctamente.</span>
						</div>

						<div class="callout callout-info">
							<h5><i class="fas fa-info"></i> Nota:</h5>
							En el siguiente apartado encontrara todos los datos relacionados con la cita médica una vez
							se ha atendido por el médico .
						</div>

						<div class="invoice p-3 mb-3">
							<div class="row">
								<div class="col-12">
									<h4>
										<i class="fas fa-globe"></i> Admin salud S.A.S.
										<small class="float-right"
											th:text="${T(edu.poli.citas.citasMedicas.Utilidad).fecha()}">Fecha:
											2/10/2014</small>
									</h4>
								</div>
							</div>

							<!-- Datos pacinete -->
							<div class="row invoice-info">
								<div class="col-sm-4 invoice-col">
									Paciente
									<address>
										<strong
											th:text="${cita.paciente.nombre} + ' ' +${cita.paciente.apellido}">Nombre
											del paciente</strong>
										<br>
										<span
											th:text="${cita.paciente.tipoDocumneto} + ' ' + ${cita.paciente.documento} " />
										<br>
									</address>
								</div>

								<!-- Datos doctor -->
								<div class="col-sm-4 invoice-col">
									Doctor
									<address>
										<strong th:text="${cita.doctor.nombre} + ' ' +${cita.doctor.apellido}">Nombre
											doctor</strong><br>
										<span th:text="${doctor.especialidad.descropcion}" /> <br>
									</address>
								</div>

								<!-- Datos centro medico -->
								<div class="col-sm-4 invoice-col">
									<b th:text="'Centro Médico: '+${cita.centroMedico}"></b><br>
								</div>
							</div>

							<h4>Resultado de la cita médica</h4>
							<div class="row">

								<div class="col-5 col-sm-2">
									<div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist"
										aria-orientation="vertical">
										<a th:class="${novadad != 'NA'} ? 'nav-link active' : 'nav-link'"
											id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab"
											aria-controls="vert-tabs-home"
											th:aria-selected="${novadad != 'NA'}">Novedades</a>
										<a th:class="${examen != 'NA'} ? 'nav-link active' : 'nav-link'"
											id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile"
											role="tab" aria-controls="vert-tabs-profile"
											th:aria-selected="${examen != 'NA'}">Exámenes</a>
										<a th:class="${medicamento != 'NA'} ? 'nav-link active' : 'nav-link'"
											id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages"
											role="tab" aria-controls="vert-tabs-messages"
											th:aria-selected="${medicamento != 'NA'}">Medicamentos</a>
									</div>
								</div>
								<div class="col-7 col-sm-10">
									<div class="tab-content" id="vert-tabs-tabContent">
										<div th:class="${novadad != 'NA'} ? 'tab-pane text-left fade show active' : 'tab-pane text-left'"
											id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
											<div th:if="${#lists.size(novedades) == 0}">
												<p>No existen Novedades para el paciente.</p>
											</div>
											<div th:each="novedad : ${novedades}">
												<strong><i class="fa fa-heartbeat"></i> Descripcion: </strong>

												<p style="display: inline; margin-right: 10px;" class="text-muted"
													th:text="${novedad.observacion}">novedad</p>
												<i sec:authorize="hasAuthority('MEDICO')" th:data-id="${novedad.id}" style="color: red;"
													class="fas fa-trash-alt deleteItemNovedad"></i>
											</div>
										</div>
										<div th:class="${examen != 'NA'} ? 'tab-pane fade show active' : 'tab-pane fade'"
											id="vert-tabs-profile" role="tabpanel"
											aria-labelledby="vert-tabs-profile-tab">
											<div th:each="autorizacion : ${autorizaciones}">
												<input type="hidden" id="idautorizacion"
													th:value="${autorizacion.id}" />
												<p th:if="${#lists.size(examenes) == 0}">El paciente no
													tiene examenes pendientes</p>
											</div>
											<div th:if="${#lists.size(autorizaciones) == 0}">
												<p>No existen autorizaciones para el paciente.</p>
												<button onclick="createAutorizacionProcess()"
													class="btn btn-primary">Iniciar proceso de
													autorizacion</button>
											</div>
											<div th:each="examen : ${examenes}">
												<strong><i class="fa fa-plus-square"></i> Tipo: </strong>
												<p style="display: inline; margin-right: 10px;" class="text-muted"
													th:text="${examen.tipo}">Examen</p>
												<br />
												<strong slot="padding-left: 20px;">Centro Medico: </strong>
												<p style="display: inline; margin-right: 10px;" class="text-muted"
													th:text="${examen.centroMedico}">Examen</p>
												<br />
												<strong slot="padding-left: 20px;">Fecha: </strong>
												<p style="display: inline; margin-right: 10px;" class="text-muted"
													th:text="${examen.fechaExamen}">Examen</p>
												<br />
												<strong sec:authorize="hasAuthority('MEDICO') OR hasAuthority('PACIENTE')" slot="padding-left: 20px;">Resultados: 0.5%</strong>
												<p style="display: inline; margin-right: 10px;" class="text-muted"
													th:text="${examen.resultado}">Examen</p>
												<i sec:authorize="hasAuthority('MEDICO') " th:data-id="${examen.id}" style="color: red;"
													class="fas fa-trash-alt deleteExamen"></i>
												<br />
												<br />
											</div>
										</div>
										<div th:class="${medicamento != 'NA'} ? 'tab-pane fade show active' : 'tab-pane fade'"
											id="vert-tabs-messages" role="tabpanel"
											aria-labelledby="vert-tabs-messages-tab">
											<div th:each="autorizacion : ${autorizaciones}">
												<p th:if="${#lists.size(medicamentos) == 0}">El paciente no
													tiene medicamentos asignados.</p>
											</div>
											<div th:if="${#lists.size(autorizaciones) == 0}">
												<p>No existen autorizaciones para el paciente.</p>
												<button onclick="createAutorizacionProcess()" type="submit"
													class="btn btn-primary">Iniciar proceso de
													autorizacion</button>
											</div>
											<div th:each="medicamento : ${medicamentos}">
												<strong><i class="fa fa-medkit"></i> Nombre: </strong>
												<p style="display: inline; margin-right: 10px;" class="text-muted"
													th:text="${medicamento.nombre}">Examen</p>
												<br />
												<strong slot="padding-left: 20px;">Cantidad: </strong>
												<p style="display: inline; margin-right: 10px;" class="text-muted"
													th:text="${medicamento.cantidad}">Examen</p>
												<br />
												<strong slot="padding-left: 20px;">Posologia: </strong>
												<p style="display: inline; margin-right: 10px;" class="text-muted"
													th:text="${medicamento.posologia}">Examen</p>
												<i sec:authorize="hasAuthority('MEDICO')" th:data-id="${medicamento.id}" style="color: red;"
													class="fas fa-trash-alt deleteMedicamento"></i>
												<br />
												<br />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12" sec:authorize="hasAuthority('MEDICO')" >
							<div class="btn-group float-right">
								<button type="button" class="btn btn-primary">Agregar Indicaciones paciente</button>
								<button type="button"
									class="btn btn-primary dropdown-toggle dropdown-hover dropdown-icon"
									data-toggle="dropdown">
								</button>
								<div class="dropdown-menu" role="menu">
									<a class="dropdown-item" href="#" data-toggle="modal"
										data-target="#modal-novedad">Novedades</a>
									<a th:if="${#lists.size(autorizaciones) > 0}" class="dropdown-item" href="#"
										data-toggle="modal" data-target="#modal-examen">Exámenes</a>
									<a th:if="${#lists.size(autorizaciones) > 0}" class="dropdown-item" href="#"
										data-toggle="modal" data-target="#modal-medicamento">Medicamentos</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Modales -->
	<!-- Novedades -->
	<div class="modal fade" id="modal-novedad">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Agregar Novedad</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="centro">Observación</label>
						<textarea id="observacioNovedad" class="form-control" rows="3"
							placeholder="Ingrese la observación del paciente" style="height: 83px;"></textarea>
					</div>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="createNovedad()">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Examenes -->
	<div class="modal fade" id="modal-examen">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Agregar Examen</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="centro">Tipo Examen</label>
						<input type="text" class="form-control" id="tipoExamen" placeholder="Tipo examen">
					</div>
					<div class="form-group">
						<label for="centro">Centro Medico</label>
						<input type="text" class="form-control" id="centroExamen" placeholder="Centro medico">
					</div>
					<div class="form-group">
						<label for="fecha">Fecha</label>
						<div class="input-group">
							<input type="text" id="fecha" class="form-control">
							<input type="hidden" id="fecha-send">
							<div id="datePickerBtn" class="input-group-append">
								<span class="input-group-text"><i class="fas fa-calendar"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="crearExamen()">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Examenes -->
	<div class="modal fade" id="modal-medicamento">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Agregar Medicamento</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="centro">Nombre medicamento</label>
						<input type="text" class="form-control" id="nombreMedicamento" placeholder="Medicamento">
					</div>
					<div class="form-group">
						<label for="centro">Cantidad</label>
						<input type="text" class="form-control" id="cantidadMedicamento" placeholder="Cantidad">
					</div>
					<div class="form-group">
						<label for="centro">Posologia</label>
						<input type="text" class="form-control" id="posoligiaMedivamento" placeholder="Posologia">
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" onclick="crearMedicamento()">Guardar</button>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{fragments/includeScript}" />
	<script>
		$(function () {
			$("#fecha").datepicker({
				dateFormat: 'dd/mm/yy',
				onSelect: function (date) {
					$('#fecha-send').val(date);
				}
			});

			$("#datePickerBtn").on("click", function () {
				if ($("#fecha").datepicker("widget").is(":visible")) {
					$("#fecha").datepicker("hide");
				} else {
					$("#fecha").datepicker("show");
				}
			});

			if ($('#fecha-send').val()) {
				$("#fecha").datepicker("setDate", $('#fecha-send').val());
			}
		});
	</script>

</body>

</html>