<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:insert="~{fragments/inclideStyle}" />
	<script th:src="@{/public/theme/jquery/jquery.min.js}"></script>
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="~{fragments/menuLayout}" />
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Citas</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card">
					<div class="card-body">

						<div th:if="${accionOk != 'NA'}" class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h5 style="display: inline;" <i class="icon fas fa-check"></i> OK!</h5>
							<span th:if="${accionOk == 'create'}">Registro creado correctamente.</span>
							<span th:if="${accionOk == 'update'}">Registro actualizado correctamente.</span>
							<span th:if="${accionOk == 'delete'}">Registro eliminado correctamente.</span>
						</div>
						<a sec:authorize="hasAuthority('ASESOR') OR hasAuthority('PACIENTE') " th:href="@{/cita/create}" class="btn btn-primary float-right">Agendar Cita</a>


						<br /><br />
						<table id="especialidades" class="table table-bordered table-striped table-sm">
							<thead>
								<tr>
									<th>Especialidad</th>
									<th>Doctor</th>
									<th>Fecha</th>
									<th>Hora</th>
									<th>Centro medico</th>
									<th>Estado</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cita:${citas}">
									<td th:text="${cita.especialidad}"></td>
									<td th:text="${cita.doctor.nombre}+' ' +${cita.doctor.apellido}"></td>
									<td th:text="${cita.fecha}"></td>
									<td th:text="${T(edu.poli.citas.citasMedicas.Utilidad).formatHour(cita.hora)}"></td>
									<td th:text="${cita.centroMedico}"></td>
									<td style="width: 100px;">
										<small
											th:if="${T(edu.poli.citas.citasMedicas.Utilidad).isInProcess(cita.fecha,cita.hora)}"
											class="badge badge-info">
											<i class="far fa-clock">
											</i> <span
												th:text="${T(edu.poli.citas.citasMedicas.Utilidad).processDetail(cita.fecha,cita.hora)}" /></small>

										<small
											th:if="${!T(edu.poli.citas.citasMedicas.Utilidad).isInProcess(cita.fecha,cita.hora)}"
											class="badge badge-danger">
											<i class="far fa-clock">
											</i> <span
												th:text="${T(edu.poli.citas.citasMedicas.Utilidad).processDetail(cita.fecha,cita.hora)}" /></small>
									</td>
									<td id="acciones">
										<a sec:authorize="hasAuthority('ASESOR') OR hasAuthority('PACIENTE')" th:href="@{/cita/update/{id}(id=${cita.id})}"
											class="btn btn-outline-primary btn-block float-left btntable">
											<i class="gTable fa fa-pencil-alt"></i>
										</a>

										<a sec:authorize="hasAuthority('ASESOR') OR hasAuthority('PACIENTE')" th:href="@{/cita/{id}/detail(id=${cita.id})}"
											class="btn btn-outline-primary btn-block btntable btndetail">
											<i class="gTable fa fa-eye"></i>
										</a>

										<a sec:authorize="hasAuthority('MEDICO')" th:href="@{/cita/{id}/detail(id=${cita.id})}"
											class="btn btn-outline-primary btn-block btntable btndetail">
											<i class="fas fa-user-md"></i>
										</a>

										<form sec:authorize="hasAuthority('ASESOR') OR hasAuthority('PACIENTE')" method="post" th:action="@{/cita/delete/{id}(id=${cita.id})}">
											<button type="submit" style="margin-top: 1px;"
												class="btn btn-outline-danger btn-block float-right btntable">
												<i class="gTable fa fa-ban"></i>
											</button>
											</a>
										</form>
									</td>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="~{fragments/includeScript}" />
	<script>
		$(function () {
			$('#especialidades').DataTable({
				"paging": true,
				"lengthChange": false,
				"searching": false,
				"ordering": true,
				"info": true,
				"autoWidth": false,
				"responsive": true,
			});

			let nr_li = $("#acciones  i.gTable").length;
			//let nr_li2 = $("#acciones > form  i.gTable").length;
			let calc = (nr_li + nr_li2) * 45;
			$("#acciones").css("width", calc);
		});
	</script>
</body>

</html>