<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Citas Medicas</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" th:href="@{/public/theme/fontawesome-free/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/public/theme/css/adminlte.min.css}">
	<!-- DataTables -->
  <link rel="stylesheet" th:href="@{/public/theme/datatables-bs4/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/public/theme/datatables-responsive/css/responsive.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/public/theme/datatables-buttons/css/buttons.bootstrap4.min.css}">
  
   <link rel="stylesheet" th:href="@{/public/adminSalud.css}">
   
</head>
</html>