<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
			<ul class="navbar-nav">
				
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a   class="nav-link" data-widget="control-sidebar" data-slide="true" onclick="document.getElementById('logout').submit();" role="button">
						<i class="fa fa-sign-out-alt" aria-hidden="true">Salir</i>
					</a>
				</li>
			</ul>
	 </nav>
	 
	 <aside class="main-sidebar sidebar-dark-primary elevation-4">
			<a href="#" class="brand-link" style="text-align: center;">
				<h2>Admin Salud</h2>
			</a>
			<div class="sidebar">
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">

					<div class="info">
						<a href="#" class="d-block" th:text="${#authentication.principal.username}">Alexander Pierce</a>
					</div>
				</div>
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
						data-accordion="false">
						<li class="nav-item">
						</li>
						<li sec:authorize="hasAuthority('ASESOR')" class="nav-item">
							<a th:href="@{/especialidad}" class="nav-link">
								<i class="nav-icon far fa-image"></i>
								<p>
									Especialidades
								</p>
							</a>
						</li>
						<li sec:authorize="hasAuthority('ASESOR')" class="nav-item">
							<a th:href="@{/empleado}" class="nav-link">
								<i class="nav-icon far fa-image"></i>
								<p>
									Empleados
								</p>
							</a>
						</li>
						<li sec:authorize="hasAuthority('ASESOR')" class="nav-item">
							<a th:href="@{/paciente}" class="nav-link">
								<i class="nav-icon far fa-image"></i>
								<p>
									Pacientes
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/cita}" class="nav-link">
								<i class="nav-icon far fa-image"></i>
								<p>
									Citas
								</p>
							</a>
						</li>
						
					</ul>
				</nav>
			</div>
		</aside>
		 <form  id="logout" th:action="@{/logout}" method="post">
        </form>
		
</html>