<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:insert="~{fragments/inclideStyle}" />
	<script th:src="@{/public/theme/jquery/jquery.min.js}"></script>
</head>

<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<div th:replace="~{fragments/menuLayout}" />
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Blank Page</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card">
					<div class="card-body">
						Start creating your amazing application!
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="~{fragments/includeScript}" />
	</div>
</body>

</html>