<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:insert="~{fragments/inclideStyle}" />
	<script th:src="@{/public/theme/jquery/jquery.min.js}"></script>
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<h1>Bienvenidos</h1>
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<div th:if="${param.error}">
					Invalid username and password.
				</div>
				<div th:if="${param.logout}">
					You have been logged out.
				</div>
				<p class="login-box-msg">Ingrese su sesion</p>
				<form th:action="@{/login}" method="post">
					<div class="input-group mb-3">
						<input type="text" name="username" class="form-control" placeholder="Usuario">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" name="password" class="form-control" placeholder="Contraseña">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8"> </div>
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Ingresar</button>
						</div>

				</form>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/includeScript}" />
</body>

</html>